@import "vendors/reset";
@import "modules/varsMixins";

html {
  font-family: Roboto, Arial, sans-serif;
}
 a {
   text-decoration: none;
   color: black;
 }

.app {
  @include sizing(100vw, 100vh);
  display: flex;
}

.main {
  height: 100%;
  flex-grow: 2;
  
  .map {
    @include sizing(100%, 100%);
  }
  
  .search {
    @include sizing(30em, 4em);
    position: absolute;
    top: 4em;
    left: 6em;
    z-index: 1;
  }
}

.list {
  @include sizing(25em, 100%);
  overflow-y: scroll;
  
  h4 {
    margin-bottom: 0.4em;
  }

  p {
    font-size: 0.85em;
    font-weight: 300;
  }
  
  .detail {
    @include sizing(inherit, inherit);
    border-left: $border;

    > div > p {
      margin-bottom: 1.25em;
      margin-left: 1.5em;
      word-wrap: break-word;
      
      &:first-child {
        margin-top: 2em;
      }

      &:last-child {
        margin-bottom: 2em;
      }
    }
    .header {
      position: relative;
      @include background();
      @include sizing(100%, 30%);
       
      div {
        position: absolute;
        bottom: 0;
        width: 100%;
        color: #fff;
        background-color: #4285f4;
        @include titlePadding();

        h4 {
         font-size: 1.25em;
        }
      }
    }

    .gallery {
      display: flex;
      flex-wrap: wrap;
      @include sizing(100%, 100%);
      margin: 0 auto;
      overflow-y: scroll;
      div {
        flex-grow: 1;
        min-width: 10em;
        background-color: #bcc9dd;
        background-size: cover;
        margin: 0;
        border: $border;
      }
      div:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    }
  }
  .list-item {
    @include sizing(inherit, 10%);
    cursor: pointer;
    border-top: $border;
    border-bottom: #border;
    @include titlePadding();
    padding-bottom: 0.5em;

    p {
      font-size: 0.75em;
      margin-bottom: 0.1em;
    }
  }
}
